# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual notebook files
.virtual_documents/

# Ignore collected datasets
src/collected_data/

# Ignore all CSV files
*.csv

# Virtual environments
venv/
.venv/
env/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db