# Virtual environment
myvenv/
.venv/
env/

.virtual_documents/

# Jupyter Notebook checkpoints & autosaves
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# Python cache files
__pycache__/
*.pyc

# Local environment variables
.env
