# Jupyter Notebook checkpoints, autosaves, and virtual docs
.ipynb_checkpoints/
.virtual_documents/
**/.ipynb_checkpoints/
**/.virtual_documents/

# Virtual environments
venv/
.venv/
env/

# Python cache files
__pycache__/
*.pyc

# Local environment variables
.env
